.nav-button {
  display: flex;
  background-color: $crumbly-burger-red;
  padding: 0.2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  margin-bottom: 1.3rem;
  transition: transform 0.4s ease-in-out;

  a {
    color: $font-color;
    text-decoration: none;
    padding: 5px;
  }
}

.nav-button:hover {
  background-color: $crumbly-burger-dark-red;
  transform: scale(1.1);
}
